In [1]:
import pandas as pd
import numpy as np
import os
import glob
import re

In [2]:
glob.glob('*.*')

['1-1. Data Cleaning & Visualization.html',
 '1-2. Data Cleaning & Visualization.html',
 'GH_academy.html',
 'Untitled.ipynb']

In [3]:
glob.glob(os.path.join("data","*.*"))

['data\\2018_modified_data.xlsx',
 'data\\2018_raw_data.xlsx',
 'data\\seoul_municipalities_geo_simple.json',
 'data\\skorea_municipalities_geo_simple.json',
 'data\\단독다가구(매매)_실거래가_ (1).xlsx',
 'data\\단독다가구(매매)_실거래가_ (10).xlsx',
 'data\\단독다가구(매매)_실거래가_ (11).xlsx',
 'data\\단독다가구(매매)_실거래가_ (12).xlsx',
 'data\\단독다가구(매매)_실거래가_ (2).xlsx',
 'data\\단독다가구(매매)_실거래가_ (3).xlsx',
 'data\\단독다가구(매매)_실거래가_ (4).xlsx',
 'data\\단독다가구(매매)_실거래가_ (5).xlsx',
 'data\\단독다가구(매매)_실거래가_ (6).xlsx',
 'data\\단독다가구(매매)_실거래가_ (7).xlsx',
 'data\\단독다가구(매매)_실거래가_ (8).xlsx',
 'data\\단독다가구(매매)_실거래가_ (9).xlsx',
 'data\\지역_ID.txt']

In [4]:
filenames = glob.glob(os.path.join("data","단독*.xlsx")) # open all excel files
filenames

['data\\단독다가구(매매)_실거래가_ (1).xlsx',
 'data\\단독다가구(매매)_실거래가_ (10).xlsx',
 'data\\단독다가구(매매)_실거래가_ (11).xlsx',
 'data\\단독다가구(매매)_실거래가_ (12).xlsx',
 'data\\단독다가구(매매)_실거래가_ (2).xlsx',
 'data\\단독다가구(매매)_실거래가_ (3).xlsx',
 'data\\단독다가구(매매)_실거래가_ (4).xlsx',
 'data\\단독다가구(매매)_실거래가_ (5).xlsx',
 'data\\단독다가구(매매)_실거래가_ (6).xlsx',
 'data\\단독다가구(매매)_실거래가_ (7).xlsx',
 'data\\단독다가구(매매)_실거래가_ (8).xlsx',
 'data\\단독다가구(매매)_실거래가_ (9).xlsx']

In [5]:
re.split('([0-9]+)', filenames[1])

['data\\단독다가구(매매)_실거래가_ (', '10', ').xlsx']

In [6]:
# filename 오름차순정렬
filenames = sorted( filenames, 
                   key=lambda s: int(re.split('([0-9]+)', s)[1]),
#                     reverse=False, # ascending (default)
#                     reverse=True, # descending
                  ) 
filenames

['data\\단독다가구(매매)_실거래가_ (1).xlsx',
 'data\\단독다가구(매매)_실거래가_ (2).xlsx',
 'data\\단독다가구(매매)_실거래가_ (3).xlsx',
 'data\\단독다가구(매매)_실거래가_ (4).xlsx',
 'data\\단독다가구(매매)_실거래가_ (5).xlsx',
 'data\\단독다가구(매매)_실거래가_ (6).xlsx',
 'data\\단독다가구(매매)_실거래가_ (7).xlsx',
 'data\\단독다가구(매매)_실거래가_ (8).xlsx',
 'data\\단독다가구(매매)_실거래가_ (9).xlsx',
 'data\\단독다가구(매매)_실거래가_ (10).xlsx',
 'data\\단독다가구(매매)_실거래가_ (11).xlsx',
 'data\\단독다가구(매매)_실거래가_ (12).xlsx']

In [9]:
df0 = pd.read_excel('data\\단독다가구(매매)_실거래가_ (1).xlsx', 
                    header = 16
                    ).fillna(0)
df0.head()

,시군구,번지,주택유형,도로조건,연면적(㎡),대지면적(㎡),계약년월,계약일,거래금액(만원),건축년도,도로명
0,강원도 강릉시 강동면 모전리,3**,단독,8m미만,64.20,205.0,201801,11~20,"10,520",2018.0,강동초교길
1,강원도 강릉시 견소동,2**,단독,12m미만,35.60,81.0,201801,1~10,"4,000",1990.0,창해로
2,강원도 강릉시 교동,9**,단독,12m미만,99.90,160.0,201801,11~20,"16,500",1982.0,원대로8번길
3,강원도 강릉시 교동,1***,단독,12m미만,326.88,211.6,201801,1~10,"64,300",2005.0,율곡초교길47번길
4,강원도 강릉시 교동,9**,단독,8m미만,154.99,240.2,201801,11~20,"19,000",1980.0,원대로20번길

In [10]:
len(df0)

7862

In [11]:
df_raw = pd.DataFrame()    # empty dataframe 
df_raw

Empty DataFrame
Columns: []
Index: []

In [14]:
df_raw = pd.DataFrame()
for f in filenames:
    data = pd.read_excel(f, header = 16).fillna(0)
    df_raw = df_raw.append(data)

In [15]:
len(df_raw)

93156

In [16]:
df_raw.tail()

,시군구,번지,주택유형,도로조건,연면적(㎡),대지면적(㎡),계약년월,계약일,거래금액(만원),건축년도,도로명
4967,충청북도 충주시 용탄동,3**,단독,8m미만,84.50,228.0,201812,21~31,"5,700",1996.0,사래실길
4968,충청북도 충주시 중앙탑면 창동리,2**,단독,8m미만,42.34,383.0,201812,11~20,"3,800",1964.0,청금로
4969,충청북도 충주시 칠금동,7**,단독,12m미만,313.89,178.9,201812,1~10,"36,700",2004.0,칠금6길
4970,충청북도 충주시 호암동,1**,다가구,8m미만,368.28,285.0,201812,21~31,"65,000",2018.0,원호암3길
4971,충청북도 충주시 호암동,1**,단독,25m이상,40.67,492.0,201812,1~10,"20,500",1950.0,형설로

In [17]:
df_raw.reset_index(inplace=True, drop=True) # 인덱스 정리
df_raw.tail()

,시군구,번지,주택유형,도로조건,연면적(㎡),대지면적(㎡),계약년월,계약일,거래금액(만원),건축년도,도로명
93151,충청북도 충주시 용탄동,3**,단독,8m미만,84.50,228.0,201812,21~31,"5,700",1996.0,사래실길
93152,충청북도 충주시 중앙탑면 창동리,2**,단독,8m미만,42.34,383.0,201812,11~20,"3,800",1964.0,청금로
93153,충청북도 충주시 칠금동,7**,단독,12m미만,313.89,178.9,201812,1~10,"36,700",2004.0,칠금6길
93154,충청북도 충주시 호암동,1**,다가구,8m미만,368.28,285.0,201812,21~31,"65,000",2018.0,원호암3길
93155,충청북도 충주시 호암동,1**,단독,25m이상,40.67,492.0,201812,1~10,"20,500",1950.0,형설로

In [18]:
# 파일 저장
df_raw.to_excel('data/2018_raw_data_my.xlsx',index=None, encoding='utf-8') 
glob.glob(os.path.join("data","*.*"))

['data\\2018_modified_data.xlsx',
 'data\\2018_raw_data.xlsx',
 'data\\2018_raw_data_my.xlsx',
 'data\\seoul_municipalities_geo_simple.json',
 'data\\skorea_municipalities_geo_simple.json',
 'data\\단독다가구(매매)_실거래가_ (1).xlsx',
 'data\\단독다가구(매매)_실거래가_ (10).xlsx',
 'data\\단독다가구(매매)_실거래가_ (11).xlsx',
 'data\\단독다가구(매매)_실거래가_ (12).xlsx',
 'data\\단독다가구(매매)_실거래가_ (2).xlsx',
 'data\\단독다가구(매매)_실거래가_ (3).xlsx',
 'data\\단독다가구(매매)_실거래가_ (4).xlsx',
 'data\\단독다가구(매매)_실거래가_ (5).xlsx',
 'data\\단독다가구(매매)_실거래가_ (6).xlsx',
 'data\\단독다가구(매매)_실거래가_ (7).xlsx',
 'data\\단독다가구(매매)_실거래가_ (8).xlsx',
 'data\\단독다가구(매매)_실거래가_ (9).xlsx',
 'data\\지역_ID.txt']

In [20]:
# 파일 불러오기
df_raw = pd.read_excel('data/2018_raw_data.xlsx', 
                       index_col=None, header=0) 
df = df_raw.copy()
df.head()

,시군구,번지,주택유형,도로조건,연면적(㎡),대지면적(㎡),계약년월,계약일,거래금액(만원),건축년도,도로명
0,강원도 강릉시 강동면 모전리,3**,단독,8m미만,64.20,205.0,201801,11~20,"10,520",2018,강동초교길
1,강원도 강릉시 견소동,2**,단독,12m미만,35.60,81.0,201801,1~10,"4,000",1990,창해로
2,강원도 강릉시 교동,9**,단독,12m미만,99.90,160.0,201801,11~20,"16,500",1982,원대로8번길
3,강원도 강릉시 교동,1***,단독,12m미만,326.88,211.6,201801,1~10,"64,300",2005,율곡초교길47번길
4,강원도 강릉시 교동,9**,단독,8m미만,154.99,240.2,201801,11~20,"19,000",1980,원대로20번길

In [21]:
df.describe() # summary of the numerical attributes

             연면적(㎡)        대지면적(㎡)           계약년월          건축년도
count  93156.000000   93156.000000   93156.000000  93156.000000
mean     160.954894     269.242972  201806.166763   1986.259608
std      153.372718     535.536227       3.306179     54.643186
min        4.860000       3.880000  201801.000000      0.000000
25%       69.410000     123.800000  201803.000000   1978.000000
50%      112.200000     186.100000  201806.000000   1989.000000
75%      191.900000     323.600000  201809.000000   2001.000000
max     5225.220000  119119.000000  201812.000000   2019.000000

In [22]:
df.dtypes

시군구          object
번지           object
주택유형         object
도로조건         object
연면적(㎡)      float64
대지면적(㎡)     float64
계약년월          int64
계약일          object
거래금액(만원)     object
건축년도          int64
도로명          object
dtype: object

연면적: 하나의 건축물 각 층의 바닥면적의 합계

대지면적: 대지의 수평투영면적

### Data 정리

In [23]:
df['거래금액(만원)'] = df['거래금액(만원)'].str.replace(',', '').astype(float)
df.head(10)

,시군구,번지,주택유형,도로조건,연면적(㎡),대지면적(㎡),계약년월,계약일,거래금액(만원),건축년도,도로명
0,강원도 강릉시 강동면 모전리,3**,단독,8m미만,64.20,205.0,201801,11~20,10520.0,2018,강동초교길
1,강원도 강릉시 견소동,2**,단독,12m미만,35.60,81.0,201801,1~10,4000.0,1990,창해로
2,강원도 강릉시 교동,9**,단독,12m미만,99.90,160.0,201801,11~20,16500.0,1982,원대로8번길
3,강원도 강릉시 교동,1***,단독,12m미만,326.88,211.6,201801,1~10,64300.0,2005,율곡초교길47번길
4,강원도 강릉시 교동,9**,단독,8m미만,154.99,240.2,201801,11~20,19000.0,1980,원대로20번길
5,강원도 강릉시 구정면 구정리,*,단독,8m미만,106.26,530.0,201801,21~31,21000.0,2017,청파로
6,강원도 강릉시 구정면 덕현리,3**,단독,8m미만,69.03,407.0,201801,1~10,6450.0,1990,누일길
7,강원도 강릉시 구정면 덕현리,3**,단독,8m미만,61.60,426.0,201801,1~10,6700.0,1990,누일길
8,강원도 강릉시 내곡동,1**,단독,8m미만,79.68,194.0,201801,21~31,20500.0,2015,남산초교길12번길
9,강원도 강릉시 내곡동,4*,단독,25m미만,36.30,214.0,201801,21~31,15850.0,1971,강변로

In [26]:
df['거래금액(만원)'] = df['거래금액(만원)'].str.replace(',', '').astype(float64)
df.head(10)

AttributeError: Can only use .str accessor with string values!

In [27]:
df['도로조건'].unique()

array(['8m미만', '12m미만', '25m미만', '-', '25m이상'], dtype=object)

In [28]:
df['도로조건'] = df['도로조건'].replace(['-','m미만','25m이상'], 
                                ['0','','26'], regex=True).astype(float)
df['도로조건'].unique()
# df['도로조건'] = df['도로조건'].replace("m미만","")

array([ 8., 12., 25.,  0., 26.])

In [29]:
df.head(10)

,시군구,번지,주택유형,도로조건,연면적(㎡),대지면적(㎡),계약년월,계약일,거래금액(만원),건축년도,도로명
0,강원도 강릉시 강동면 모전리,3**,단독,8.0,64.20,205.0,201801,11~20,10520.0,2018,강동초교길
1,강원도 강릉시 견소동,2**,단독,12.0,35.60,81.0,201801,1~10,4000.0,1990,창해로
2,강원도 강릉시 교동,9**,단독,12.0,99.90,160.0,201801,11~20,16500.0,1982,원대로8번길
3,강원도 강릉시 교동,1***,단독,12.0,326.88,211.6,201801,1~10,64300.0,2005,율곡초교길47번길
4,강원도 강릉시 교동,9**,단독,8.0,154.99,240.2,201801,11~20,19000.0,1980,원대로20번길
5,강원도 강릉시 구정면 구정리,*,단독,8.0,106.26,530.0,201801,21~31,21000.0,2017,청파로
6,강원도 강릉시 구정면 덕현리,3**,단독,8.0,69.03,407.0,201801,1~10,6450.0,1990,누일길
7,강원도 강릉시 구정면 덕현리,3**,단독,8.0,61.60,426.0,201801,1~10,6700.0,1990,누일길
8,강원도 강릉시 내곡동,1**,단독,8.0,79.68,194.0,201801,21~31,20500.0,2015,남산초교길12번길
9,강원도 강릉시 내곡동,4*,단독,25.0,36.30,214.0,201801,21~31,15850.0,1971,강변로

In [31]:
s = df['계약년월'].astype(str)
df['연도'] = s.str[0:4].astype(int)
df['월'] = s.str[-2:].astype(int)
del df['계약년월']
df.head()

KeyError: '계약년월'

In [41]:
del df['번지']
del df['계약일']
del df['도로명']

df.head()

               시군구 주택유형  도로조건  연면적(㎡)  대지면적(㎡)  거래금액(만원)  건축년도    연도  월
0  강원도 강릉시 강동면 모전리   단독   8.0   64.20    205.0   10520.0  2018  2018  1
1      강원도 강릉시 견소동   단독  12.0   35.60     81.0    4000.0  1990  2018  1
2       강원도 강릉시 교동   단독  12.0   99.90    160.0   16500.0  1982  2018  1
3       강원도 강릉시 교동   단독  12.0  326.88    211.6   64300.0  2005  2018  1
4       강원도 강릉시 교동   단독   8.0  154.99    240.2   19000.0  1980  2018  1

In [42]:
df.dtypes

시군구          object
주택유형         object
도로조건        float64
연면적(㎡)      float64
대지면적(㎡)     float64
거래금액(만원)    float64
건축년도          int64
연도            int32
월             int32
dtype: object

In [43]:
df.describe()

,도로조건,연면적(㎡),대지면적(㎡),거래금액(만원),건축년도,연도,월
count,93156.000000,93156.000000,93156.000000,9.315600e+04,93156.000000,93156.0,93156.000000
mean,9.630190,160.954894,269.242972,4.133243e+04,1986.259608,2018.0,6.166763
std,4.230676,153.372718,535.536227,5.296433e+04,54.643186,0.0,3.306179
min,0.000000,4.860000,3.880000,1.500000e+02,0.000000,2018.0,1.000000
25%,8.000000,69.410000,123.800000,1.200000e+04,1978.000000,2018.0,3.000000
50%,8.000000,112.200000,186.100000,2.550000e+04,1989.000000,2018.0,6.000000
75%,12.000000,191.900000,323.600000,5.250000e+04,2001.000000,2018.0,9.000000
max,26.000000,5225.220000,119119.000000,1.998130e+06,2019.000000,2018.0,12.000000

#### 소재 지역 정리

In [44]:
SiDo = []
SiGunGu = []
DongLi = []

for i in range(0,len(df['시군구'])):
    tmp = df['시군구'][i].split()  # 띄어쓰기로 split
    SiDo.append(tmp[0])            # 시/도
    SiGunGu.append(tmp[1])         # 시/군/구
    if len(tmp) > 3:
        DongLi.append(tmp[-1]+'('+tmp[2]+')')
    else:
        DongLi.append(tmp[-1])

In [45]:
# data = df.copy()
df['SiDo'] = SiDo 
df['SiGunGu'] = SiGunGu
df['DongLi'] = DongLi

df.head()

,시군구,주택유형,도로조건,연면적(㎡),대지면적(㎡),거래금액(만원),건축년도,연도,월,SiDo,SiGunGu,DongLi
0,강원도 강릉시 강동면 모전리,단독,8.0,64.20,205.0,10520.0,2018,2018,1,강원도,강릉시,모전리(강동면)
1,강원도 강릉시 견소동,단독,12.0,35.60,81.0,4000.0,1990,2018,1,강원도,강릉시,견소동
2,강원도 강릉시 교동,단독,12.0,99.90,160.0,16500.0,1982,2018,1,강원도,강릉시,교동
3,강원도 강릉시 교동,단독,12.0,326.88,211.6,64300.0,2005,2018,1,강원도,강릉시,교동
4,강원도 강릉시 교동,단독,8.0,154.99,240.2,19000.0,1980,2018,1,강원도,강릉시,교동

In [46]:
df['SiDo'].unique() # 17개 광역지방자치단체

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [47]:
def cut_char_sigu(name):
    return name if len(name)==2 else name[:-1]

In [48]:
sido_candi =  df['SiDo']
sido_candi = [name[:2] if name[:2] in ['서울','부산','대구','광주','인천','대전','울산','세종'] else '' for name in sido_candi]

sigun_candi = ['']*len(df)
for n in df.index:
#     print(n)
    each = df['SiGunGu'][n]
    if each[:2] in ['수원', '성남','안양','안산','고양','용인','청주','천안','전주','포항','창원']:
        sigun_candi[n] = each[:2] + ' ' + each[2:-1] #re.split('시', each)[0]+' '+ cut_char_sigu(re.split('시', each)[1])
    else:
        sigun_candi[n] = cut_char_sigu(each)
        
print(sigun_candi[403])

고양 덕양

In [49]:
ID_candi = [sido_candi[n]+' '+sigun_candi[n] for n in range(0,len(sigun_candi))]
# ID_candi

In [50]:
ID_candi[12985]

'세종 연서'

In [51]:
df['ID'] = ID_candi
# del data['시군구']

df.head()

,시군구,주택유형,도로조건,연면적(㎡),대지면적(㎡),거래금액(만원),건축년도,연도,월,SiDo,SiGunGu,DongLi,ID
0,강원도 강릉시 강동면 모전리,단독,8.0,64.20,205.0,10520.0,2018,2018,1,강원도,강릉시,모전리(강동면),강릉
1,강원도 강릉시 견소동,단독,12.0,35.60,81.0,4000.0,1990,2018,1,강원도,강릉시,견소동,강릉
2,강원도 강릉시 교동,단독,12.0,99.90,160.0,16500.0,1982,2018,1,강원도,강릉시,교동,강릉
3,강원도 강릉시 교동,단독,12.0,326.88,211.6,64300.0,2005,2018,1,강원도,강릉시,교동,강릉
4,강원도 강릉시 교동,단독,8.0,154.99,240.2,19000.0,1980,2018,1,강원도,강릉시,교동,강릉

In [52]:
df.to_excel('data/2018_modified_data.xlsx',index=None, encoding='utf-8') # 파일 저장

In [53]:
house_data = pd.read_excel('data/2018_modified_data.xlsx', 
                           index_col=None, header=0) # 파일 불러오기
house_data.head()

,시군구,주택유형,도로조건,연면적(㎡),대지면적(㎡),거래금액(만원),건축년도,연도,월,SiDo,SiGunGu,DongLi,ID
0,강원도 강릉시 강동면 모전리,단독,8,64.20,205.0,10520,2018,2018,1,강원도,강릉시,모전리(강동면),강릉
1,강원도 강릉시 견소동,단독,12,35.60,81.0,4000,1990,2018,1,강원도,강릉시,견소동,강릉
2,강원도 강릉시 교동,단독,12,99.90,160.0,16500,1982,2018,1,강원도,강릉시,교동,강릉
3,강원도 강릉시 교동,단독,12,326.88,211.6,64300,2005,2018,1,강원도,강릉시,교동,강릉
4,강원도 강릉시 교동,단독,8,154.99,240.2,19000,1980,2018,1,강원도,강릉시,교동,강릉