# 객체와 변수

- Python에서는 모든 것이 객체<sup>objects</sup>
- 변수<sup>variables</sup>는 이름일 뿐, 객체의 생성과는 무관
- 객체는 이름(변수) 자체와는 상관이 없고, 자기에게 붙어있는 이름이 뭐든간에 관계 없음(알 수 없음)

## 객체

In [1]:
# <- This is a line comment
True  # all characters after the # sign is ignored
# There is no block comments in Python
# Use Ctrl/Cmd + / for toggling comments

True

In [2]:
42

42

In [3]:
3.14

3.14

In [4]:
'문자열: 안녕하세요! 👋'

'문자열: 안녕하세요! 👋'

In [5]:
[42, 3.14, '안녕하세요']

[42, 3.14, '안녕하세요']

In [6]:
(42, 3.14, '안녕하세요')

(42, 3.14, '안녕하세요')

In [7]:
{'name': 'Gildong', 'age': 42, 'height': 165.5}

{'name': 'Gildong', 'age': 42, 'height': 165.5}

객체는 **attributes**를 가질 수 있고, 마침표(`.`) 뒤에 이름을 적어 사용할 수 있습니다. (다른 언어의 property, method 등)

In [8]:
'Hello'.upper

In [9]:
[1, 2, 3].__len__

모든 객체는 타입<sup>type</sup>이 있습니다.

In [10]:
type(False)

bool

In [11]:
type(-42)

int

In [12]:
type(3.14)

float

In [13]:
type('안녕하세요')

str

In [14]:
type([1, 2, 3])

list

In [15]:
type((1, 2, 3))

tuple

In [16]:
type({1, 2, 3})

set

In [17]:
type({'a': 'b'})

dict

### 💻 Exercise

`42 + 3.14`는 어떤 타입인지 알아 보세요

In [18]:
type(42 + 3.14)

float

## 변수(이름)

많은 다른 프로그래밍 언어와 마찬가지로 알파벳과 숫자(숫자는 맨 앞에 나올 수 없음), 밑줄(`_`)을 이용해 변수 이름을 붙일 수 있습니다. Python에서는 일반적으로 변수 이름을 지을 때는 대문자를 잘 쓰지 않고, 긴 변수명은 밑줄로 나누어 사용합니다(예: `variable_name`).

- Python에서 변수는 단지 객체를 가리키고 있는 이름일 뿐임
- 한 객체에 여러 이름(변수)을 붙일 수 있음
- 한 이름(변수)이 여러 객체를 가리키고 있을 수는 없음

In [19]:
a = 42

In [20]:
a, id(a), type(a)

(42, 140723926644848, int)

In [21]:
b = a

In [22]:
a, id(a), type(a)

(42, 140723926644848, int)

In [23]:
b, id(b), type(b)

(42, 140723926644848, int)

In [24]:
a = 'Answer to the Ultimate Question of Life, the Universe, and Everything'

In [25]:
a, id(a), type(a)

('Answer to the Ultimate Question of Life, the Universe, and Everything',
 2658228647376,
 str)

In [26]:
b, id(b), type(b)

(42, 140723926644848, int)

- `name = ...`으로 시작하는 경우: 이름이 다른 객체를 가리키도록 함. 이전 객체는 어떻게 되든 상관없음
- 그렇지 않은 경우: 객체 자체가 변할 수도 있음

In [27]:
list1 = [1, 2, 3]
list2 = [1, 1 + 1, 3]

In [28]:
list1, id(list1)

([1, 2, 3], 2658229018952)

In [29]:
list2, id(list2)

([1, 2, 3], 2658227987208)

In [30]:
list1[1] = 42

In [31]:
list1, id(list1)

([1, 42, 3], 2658229018952)

In [32]:
list2, id(list2)

([1, 2, 3], 2658227987208)

In [33]:
list3 = [11, 12, 13]
list4 = list3

In [34]:
list3, id(list3)

([11, 12, 13], 2658229020744)

In [35]:
list4, id(list4)

([11, 12, 13], 2658229020744)

In [36]:
list3[1] = 42

In [37]:
list3, id(list3)

([11, 42, 13], 2658229020744)

In [38]:
list4, id(list4)

([11, 42, 13], 2658229020744)

In [39]:
list3 = [21, 22, 23]

In [40]:
list3, id(list3)

([21, 22, 23], 2658227891272)

In [41]:
list4, id(list4)

([11, 42, 13], 2658229020744)

## 불변 객체와 가변 객체

- 불변<sup>immutable</sup> 객체: 객체의 내용을 바꿀 수 없음
    - int, float, str, tuple, ...
- 가변<sup>mutable</sup> 객체: 객체의 id를 유지한 채로 내용을 바꿀 수 있음
    - list, dict, ...

In [42]:
scores = [89, 87, 90, 95, 93]

In [43]:
scores[2] = 60
scores

[89, 87, 60, 95, 93]

In [44]:
ranks = (3, 1, 2, 5, 4)

In [45]:
# Error!
# ranks[2] = 6

In [46]:
a = 5
b = a
a += 10  # Equivalent to a = a + 10
a, b

(15, 5)

In [47]:
a = [1, 2, 3]
b = a
b += [4, 5, 6]  # Equivalent to a.extend([4, 5, 6])
a, b

([1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6])

In [48]:
a = (1, 2, 3)
b = a
b += (4, 5, 6)  # Equivalent to a = a + (4, 5, 6)
a, b

((1, 2, 3), (1, 2, 3, 4, 5, 6))