# 데이터 타입

## 정수(integers, `int`)

Python의 정수는 임의 정도 정수<sup>arbitrary-precision integer</sup>입니다. 32 bit 혹은 64 bit 정수와 달리 사용 가능한 자릿수에 제한이 없습니다. 단 NumPy나 Pandas를 사용할 때에는 32 bit 혹은 64 bit 정수를 사용하므로 주의해야 합니다.

In [1]:
0, -1, 1

(0, -1, 1)

In [2]:
type(1)

int

In [3]:
2 ** 63 + 1

9223372036854775809

In [4]:
2 ** 100

1267650600228229401496703205376

In [5]:
1 * 2 * 3 * 4 * 5 * 6 * 7 * 8 * 9 * 10 * 11 * 12 * 13 * 14 * 15 * 16 * 17 * 18 * 19 * 20 * 21 * 22 * 23 * 24 * 25 * 26 * 27 * 28 * 29 * 30 * 31 * 32 * 33 * 34 * 35 * 36 * 37 * 38 * 39 * 40 * 41 * 42 * 43 * 44 * 45 * 46 * 47 * 48 * 49 * 50 * 51 * 52 * 53 * 54 * 55 * 56 * 57 * 58 * 59 * 60 * 61 * 62 * 63 * 64 * 65 * 66 * 67 * 68 * 69 * 70 * 71 * 72 * 73 * 74 * 75 * 76 * 77 * 78 * 79 * 80 * 81 * 82 * 83 * 84 * 85 * 86 * 87 * 88 * 89 * 90 * 91 * 92 * 93 * 94 * 95 * 96 * 97 * 98 * 99 * 100

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

숫자를 직접 입력<sup>literal</sup>하는 경우, 보기 편하게 하기 위해 숫자 사이에`_`를 넣을 수 있습니다.

In [6]:
1_000_000_000_000

1000000000000

### 💻 Exercise

$2^{3^2}$를 계산해 보세요.

In [7]:
2 ** 3 ** 2

512

## 부동소수점(floating point numbers, `float`)

숫자에 소수점이 들어가는 경우 정수형(`int`)이 아닌 [부동소수점 방식](https://en.wikipedia.org/wiki/Double-precision_floating-point_format)으로 저장됩니다.

In [8]:
1.0

1.0

In [9]:
3.14

3.14

In [10]:
1.3e12, 1.3e-3

(1300000000000.0, 0.0013)

In [11]:
type(3.14)

float

대부분의 경우 수 연산에 있어서 형 변환은 필요 없습니다.

In [12]:
1 + 1.0

2.0

In [13]:
1 == 1.0

True

실수끼리(혹은 아주 큰 실수와 정수 간) 비교할 때에는 주의해야 합니다. (십진수로 유한소수이더라도 2진수로는 순환소수일 수 있습니다.)

In [14]:
0.1 + 0.1

0.2

In [15]:
0.1 + 0.1 == 0.2

True

In [16]:
0.1 + 0.2

0.30000000000000004

In [17]:
0.1 + 0.2 == 0.3

False

## 불리언(boolean, `bool`)

불리언 값은 `True`나 `False` 두 가지의 값 중 하나입니다. 불리언 값이 연산에 사용되면 각각 1, 0으로 자동 변환됩니다.

In [18]:
1 + True

2

In [19]:
0 == False

True

In [20]:
type(True)

bool

## 문자열(strings, `str`)

문자열의 양 끝을 따옴표(큰 따옴표, 작은 따옴표 둘 다 가능, 차이 없음)로 묶어서 나타냅니다.

Python에서 문자열은 불변 객체입니다.

In [21]:
"Hello"

'Hello'

In [22]:
'Hello'

'Hello'

In [23]:
"I'm fine, thank you."

"I'm fine, thank you."

In [24]:
# Error!
# 'I'm find, thank you.'

In [25]:
print('I\'m fine, thank you.')

I'm fine, thank you.

In [26]:
s = 'Hello'
s[3]

'l'

In [27]:
# Error!
# s[3] = 'a'

f-string을 이용하면 문자열 보간<sup>string interpolation</sup>을 해서 편하게 문자열을 만들 수 있습니다.

In [28]:
a = 1
b = 2
c = 3
s = 'a + b + c'
print(f'{s} = {a + b + c}')

a + b + c = 6

## 리스트(lists, `list`)

Python의 리스트는 **아무거나** 넣을 수 있고, 가변 객체라 수정이 가능합니다.

- 가변 객체
- 순서가 보존됨
- 인덱스로 접근 가능

대괄호(`[]`)와 쉼표(`,`)를 이용해 리스트를 만들 수 있습니다.

In [29]:
names = ['Kim', 'Lee', 'Park']
names

['Kim', 'Lee', 'Park']

In [30]:
anything = [42, 3.14, True, 'Hello', ['Another', 'list']]
anything

[42, 3.14, True, 'Hello', ['Another', 'list']]

Python의 list는 인덱스가 0부터 시작합니다.

In [31]:
anything[2]

True

In [32]:
anything[3] = 'What?'
anything

[42, 3.14, True, 'What?', ['Another', 'list']]

Python의 리스트는 제일 끝쪽(오른쪽)에 원소를 빼거나 추가하는 데에 시간이 오래 걸리지 않습니다. (복잡도가 분할상환 상수<sup>amortized $O(1)$</sup>)

In [33]:
stack = [1, 2, 3, 4, 5]

stack.append(6)
stack.append(7)
stack.append(8)

a = stack.pop()
b = stack.pop()
c = stack.pop()
d = stack.pop()

stack, a, b, c, d

([1, 2, 3, 4], 8, 7, 6, 5)

## 튜플(tuples, `tuple`)

Python의 투플은 리스트와 거의 동일하지만 **불변 객체**입니다.

소괄호(`()`)와 쉼표(`,`)를 이용해 튜플을 만들 수 있습니다. 단, 원소가 하나인 튜플의 경우 연산자 우선순위를 바꾸기 위한 괄호와 구분이 가지 않으므로 마지막에 쉼표를 추가하여<sup>trailing comma</sup> 구분합니다.

In [34]:
point = (3, 4)
point

(3, 4)

In [35]:
point[1]

4

In [36]:
not_a_tuple = (1)
print(not_a_tuple)
print(type(not_a_tuple))

1
<class 'int'>

In [37]:
is_a_tuple = (1,)
print(is_a_tuple)
print(type(is_a_tuple))

(1,)
<class 'tuple'>

튜플은 불변 객체이므로 수정할 수 없습니다.

In [38]:
a = (1, 2, 3)
# Error!
# a[1] = 42

## 딕셔너리(dictionaries, `dict`)

Python의 딕셔너리는 키<sup>key</sup>와 값<sup>value</sup>이 쌍으로 저장되어있는 데이터 형식입니다. Python 3.6부터는 (보통 다른 언어나 라이브러리와 다르게) 키의 순서가 유지됩니다.

중괄호(`{}`)와 쉼표를 이용하고, 키와 값 사이는 콜론(`:`)으로 구분합니다.

주로 문자열을 키로 사용하는 경우가 많지만 불변 객체(정확히는 해시값 계산이 가능한<sup>hashable</sup> 객체)는 모두 키로 사용할 수 있습니다. 값에 사용 가능한 객체에는 제한이 없습니다.

In [39]:
d = {
    'name': 'Lee',
    1: 'One',
    (1, 2): (3, 4),
}
d

{'name': 'Lee', 1: 'One', (1, 2): (3, 4)}

대괄호(`[]`)와 키로 값을 불러올 수 있습니다.

In [40]:
d['name']

'Lee'

변수를 키로 이용할 때 변수 이름과 키를 헷갈리지 않도록 조심하세요.

In [41]:
d = {
    'a': 'Value A',
    'b': 'Value B',
}

In [42]:
a = 'b'
d[a]

'Value B'

In [43]:
d['a']

'Value A'